<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>注册</title>

    <!--	original-->
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <script src="../static/lib/basic/js/jquery.min.js"></script>
    <script src="../static/lib/basic/js/flipclock.js"></script>
    <link rel="stylesheet" href="../static/lib/basic/css/style2.css">
    <link rel="stylesheet" href="../static/lib/basic/css/flipclock.css">
</head>

<body>
    <form id="bigBox" action="" method="POST" enctype="application/x-www-form-urlencoded">
        <h1>Register</h1>
        <div class="inputBox">
            <div class="inputText">
                <span class="iconfont icon-nickname"></span>
                <input type="text" placeholder="请输入您的用户名" name="name" />
            </div>
            <div class="inputText">
                <span class="iconfont icon-visible"></span>
                <input type="password" min='6' placeholder="请输入密码" name="password1" />
            </div>
            <div class="inputText">
                <span class="iconfont icon-visible"></span>
                <input type="password" min='6' placeholder="请再次输入您的密码" name="password2" />
            </div>

            <div class="inputText">
                <span class="iconfont icon-visible"></span>
                <input type="email" placeholder="电子邮箱" name="email" />
            </div>
        </div>
        <input class="registerButton" type="submit" value="注册" />
		 <input class="registerButton" type="button" onclick="javascript:window.location.href='/auth/login'" value="返回" />
    </form>
    <!-- <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe> -->
    <div class="lhy_bgcontainer"></div>
    <div id="slideshow">
        <img class="active" src="../static/image/2.jpg" />

    </div>

    <div id="lhy_clock">
        <div class="clock" style="margin-right:auto; margin-left:auto;margin-top:1px; position:fixed"></div>
        <!--        <script src="https://cdn.jsdelivr.net/gh/yremp/yremp-js@1.5/sakura.js"></script>-->
        <script type="text/javascript">
            var clock;
            $(document).ready(function () {
                clock = $('.clock').FlipClock({
                    clockFace: 'TwelveHourClock'
                });
            });
        </script>
    </div>
    <div>


        <script>
            /*这个slideshow主要是针对于填表里面的一些细节部分了*/
            function slideshow() {
                var slideshow = document.getElementById("slideshow"),
                    imgs = slideshow.getElementsByTagName("img"),
                    current = 0;

                function slideOff() {
                    imgs[current].className = "";
                }
                function slideOn() {
                    imgs[current].className = "active";
                }

                function changeSlide() {
                    slideOff();
                    current++;
                    if (current >= 14) current = 0;
                    slideOn();
                }
                var slideon = setInterval(changeSlide, 20000000);
            }
            slideshow();

        </script>
    </div>
</body>

</html>