<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title welcome page></title>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <script defer src="../static/lib/basic/js/welcome.js"></script>
    <link href="../static/lib/basic/css/welcome.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="reveal">Welcome to Our TimeManager</div>
    <div class="gotoLogin">
        <!-- <button onclick="login.html">yes</button> -->
        <a href="/">
            <button></button>
        </a>
    </div>
</body>

</html>